    {{>head}}

    <div class="mainContent">
         {{>header}}
         <p>This site was created by Andrew Kari. It uses data from mapbox.com and darksky.net.</p>
        <img class="picture" src="/img/robot.jpeg" alt="">
    </div>
    

    {{>footer}}