{{>head}}

<div class="mainContent">
    {{>header}}

    <form class="weatherForm" action="/">
        <input class="weatherForm-input" type="text" placeholder="Search Location">
        <button class="weatherForm-button">Search</button>
    </form>

    <p class="message-1"></p>
    <p class="message-2"></p>
</div>

{{>footer}}