
<header class="header">
    <h1 class="title">{{title}}</h1>
    <ul>
        <li class="navItem">
            <a href="/">Weather</a>
        </li>
        <li class="navItem">
            <a href="/about">About</a>
        </li>
        <li class="navItem">
            <a href="/help">Help</a>
        </li>
    </ul>
</header>