body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    margin: 16px 0 50px;
}

.mainContent {
    flex-grow: 1;
}

.footer {
    color: #888888;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding: 16px 0;
}

.title {
    font-size: 64px;
    margin-bottom: 16px;
}

.navItem {
    display: inline-block;
    margin: 0 20px 0 0;
    list-style: none;
}

.navItem a {
    color: #888;
    text-decoration: none;
}

.picture {
    max-width: 200px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #888888;
    background: #888888;
    color: white;
}